body {
   background-color: #78e0ff;
   color: white;
   font-family: "Bai Jamjuree", sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 700px;
   margin: 0;
}

button {
   background-color: #3d2ba3;
   color: white;
   font-family: "Bai Jamjuree", sans-serif;
}

.passo {
   display: none;
}

.passo.ativo {
   display:block;
}

main {
   text-align: center;
   max-width: 90%;
}

img {
   max-width: 90%;
}